<% @title = 'めざせ！！セレブ生活' %>
<h1><%= @title %></h1>
<h1><strong>※※※　先の見えない未来を自力で作る　※※※</strong></h1>
<div class="main">
<h2>秘訣と言われていることを凝縮し、実行に移すまでの手順です。</h2>
<h2>タイトルをクリックし平凡から脱出しよう。</h2>
<%= link_to(image_tag("celebu1.png", size: "60*60", alt: "実現スケジュール", align: "top" ), :plan_customer_success) %><br>
<%= link_to(image_tag("celebu2.png", size: "60*60", alt: "WONDER GATEの継続", align: "top" ), :continuation_customer_success) %><br>
<%= link_to(image_tag("celebu3.png", size: "60*60", alt: "セレブとは？", align: "top" ), :celebu_customer_success) %><br>
<%= link_to(image_tag("celebu4.png", size: "60*60", alt: "なぜ裕福になれないか", align: "top" ), :affluence_customer_success) %><br>
<%= link_to(image_tag("celebu5.png", size: "60*60", alt: "覚悟を決める", align: "top" ), :preparedness_customer_success) %><br>
<%= link_to(image_tag("celebu6.png", size: "60*60", alt: "身なりを整える", align: "top" ), :adjust_customer_success) %><br>
<%= link_to(image_tag("celebu7.png", size: "60*60", alt: "一流に触れる", align: "top" ), :top_notch_customer_success) %><br>
<%= link_to(image_tag("celebu8.png", size: "60*60", alt: "時間の使い方", align: "top" ), :time_customer_success) %><br>
<%= link_to(image_tag("celebu9.png", size: "60*60", alt: "どの分野で実現するか", align: "top" ), :challenge_customer_success) %><br>
<%= link_to(image_tag("celebu10.png", size: "60*60", alt: "やりたいことがない人へ", align: "top" ), :try_customer_success) %><br>
<%= link_to(image_tag("celebu11.png", size: "60*60", alt: "プログラミング・英会話", align: "top" ), :study_customer_success) %><br>
  
<div class="table-wrapper">  
  <div class="links">
    <%= link_to '会員特典情報ページへ', :privilege_info_customer_record %>
  </div>
</div>
</div>