<% @title = '利用方法' %>
<h1><%= @title %></h1>

<table class="#">
  <h2>利用手順（登録から維持、特典の受け取りまで）</h2>
    <ol>
      <p><li>入会画面より<strong>「新規登録」</strong>をクリックし必要事項を入力しユーザー登録します。</li></p>
        <ul>
          <p><li>全て正確に入力し<strong>「メールアドレス」・「ニックネーム」・「パスワード」</strong>は忘れないように各自で責任を持って管理してください。本人確認の認証に必要となる情報になります。</li></p>
        </ul>
      <P><li>ユーザー画面よりログインし<strong>「口座情報」</strong>を登録します。</li></P>
        <ul>
          <p><li>キャッシュバックおよびボーナスを振り込みさせていただく口座情報となります。</li></p>
          <p><li>不正防止のため本人以外の口座名義は登録できません。</li></p>
        </ul>
      <p><li>サイトの利用料金を<%= link_to 'サイトの口座', :account_customer_rule %>へ入金（振り込み）する。</li></p>
        <ul>
          <p><li>登録月に限り登録月のサイト利用料金￥1,000と翌月のサイト利用料金￥1,000の併せて￥2,000を振り込みしていただきます。振込手数料はユーザー様の負担とさせていただきます。<br><stropng>＊翌月からは次月分のサイト利用料金￥1,000の振り込みとなります。</stropng></li></p>
          <p><li>毎月の振り込みが面倒な方は6ヶ月分（￥6,000）まで先行での入金を受け付けております。</li></p>
        </ul>
      <p><li>以上で登録は完了です。登録完了後はユーザー画面よりログインしユーザー様本人の成績状況や、サイトのイベント、特典情報などが閲覧が出来るようになります。</li></p>
        <p><li>ご自身が当サイトを紹介して新規に登録していただく場合は必ずご自身のニックネームを正確に紹介者ニックネーム欄に入力させてください。</li></p>
        <uL>
          <p><li>全てのポイント計算をニックネームで管理しております。ご自身が新規に紹介したユーザーが間違ってご自身以外のニックネームを紹介者ニックネーム欄に入力されますとご自身にポイントが加算されませんので十分注意し慎重に入力していただくようにしてください。</li></p>
          <p><li>ニックネームの修正は出来ません。変更の際にはメールにてご連絡いただくようお願いします。</li></p>
          <p><li>不正防止のため一度登録した紹介者を変更することは出来ませんので慎重に入力してください。</li></p>
        </uL>
      <p><li>キャッシュバック・ボーナス・特典ボーナスの計算は全てサイト側で算出し個人成績表に表示させていただきます。そちらで確認してください。</li></p>
      <P><li>各特典の計算方法、受け取り方法については以下をクリックし確認してください。</li></P>
        <ul>
          <p><li><%= link_to 'キャッシュバックとは？', :cache_a_customer_rule %></li></p>
          <p><li><%= link_to 'ボーナスとは？', :bonus_a_customer_rule %></li></p>
          <p><li><%= link_to '特典ボーナスとは？', :privilege_bonus_a_customer_rule %></li></p>
        </ul>
    </ol>
  <h2>当サイトの利用料金は上記金額のみです。（通信料は各自負担）これ以外にサイト側より要求することはございません。仮に当サイトを名乗って追加料金請求などがあった場合には応じることの無いようにお願いします。</h2> 
</table>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップ画面へ戻る', :customer_root %>
  </div>
</div>