<% @title = 'よくある質問' %>
<h1><%= @title %></h1>

<table class="#">
  <h2><strong>ネズミ講ではないのですか？</strong></h2>
  <ul>
    <h3><p>簡単に言えばネズミ講ではありません。どういう仕組みをネズミ講というのかなど、違いにつて詳しく説明していますので以下のリンクを参照してください。</p></h3>
  </ul>
  <ul>
    <p><li><%= link_to 'ネズミ講との違いは？', :mouse_customer_rule %></li></p>
    <p><li><%= link_to '報酬1：キャッシュバックとは？', :cache_a_customer_rule %></li></p>
    <p><li><%= link_to '報酬2：ボーナスとは？', :bonus_a_customer_rule %></li></p>
     <p><li><%= link_to '報酬3：特典ボーナスとは？', :privilege_bonus_a_customer_rule %></li></p>
  </ul>
  
  <h2><strong>退会者のポイント計算はどうなるの？</strong></h2>
    <ul>
      <p><li>退会者は架空のユーザーとして登録が変更されます。退会者から紹介していただいたユーザーのポイント計算は現行と変わらず計算されます。ただし退会者のポイントはすべて0ptとなります。なので架空のユーザーがタイトルを獲得してしまうことも起こります。（大変もったいないことです。）</li></p>
    </ul>
  
  <h2><strong>サイト利用料金は本当に￥1,000だけですか？</strong></h2>
    <ul>
      <P><li>はい。￥1,000だけです。会員制サイトと同じです。今後、サイトを運営する上で会員限定で特別に購入可能な商品などの販売サービスも追加される可能性もありますが、サイト側から強制的に料金を要求することはありません。当サービスの利用料金は月額￥1,000だけですので案心してください。</li></P>
    </ul>
  
  <h2><strong>登録後に何か購入させられたりしないの？</strong></h2>
    <ul>
      <p><li>当サイトは部品の販売を行うサイトではありません。サイト側からの情報提供サービスを有料で閲覧するシステムですので後々何かを購入させられることはありません。もし、物品購入の要求、料金の追加請求、サイト以外から入金先の口座変更などの連絡があった場合は全くの虚偽情報ですので注意してください。</li></p>
    </ul>
  
  <h2><strong>ノルマや強制があるんじゃないの？</strong></h2>
    <ul>
      <p><li>ノルマは全くありません。ご自分のペースで考えてサイトを利用してください。</li></p>
    </ul>
  
  <h2><strong>なんで自動決済で入金管理しないの？</strong></h2>
    <ul>
      <p><li>キャッシュバック額がサービス利用料金（￥1000）を超えた場合に利用料金を相殺するため、自動決済方法だと2重に利用料金を徴収してしまう事象がおきてしまい、それを避けるためです。</li></p>
      <p><li>他の有料サイトで行っている自動決済の決済手数料を全てユーザー様に還元することでキャッシュバックやボーナスの一部を形作っているので振り込みの形を取らせていただいております。。</li></p>
      <p><li>入会の手続きに登録内容が多くなるのを避けるためです。</li></p>
      <p><li>一番大きいのが退会時にタイムラグがを発生させないことと退会手続きを不要にすることが目的です。</li></p>
    </ul>
  
  <h2><strong>ミーティングや講習会とかがあるのでは？</strong></h2>
    <ul>
      <p><li>ミーティングや講習会などは一切ございません。行う必要もありません。</li></p>
    </ul>
  
  <h2><strong>どういう仕組みで報酬が得られるの？</strong></h2>
  <ul>
    <h3><p>報酬の財源はサイトの利用料金の決済代行費用を省き、また、サイトの運営費を極力削減することで財源を確保しています。それを本サイトの拡散実績に応じてユーザー様に還元させていただいております。各報酬について詳しくは以下を参照してください。</p></h3>
  </ul>
    <ul>
      <p><li><%= link_to '報酬1:キャッシュバックについて', :cache_a_customer_rule %></li></p>
      <p><li><%= link_to '報酬2:ボーナスについて', :bonus_a_customer_rule %></li></p>
      <p><li><%= link_to '報酬3:特典ボーナスについて', :privilege_bonus_a_customer_rule %></li></p>
    </ul>
  
  <h2><strong>上にいる人が必ず高い報酬がもらえるの？</strong></h2>
    <ul>
      <p><li>そのような仕組みにはなっておりません。そうなっていたら「ネズミ講」です。上下の位置に関係なく努力に見合った報酬がもらえる仕組みを構築しております。以下を参照してください。</li></p>
      <p><li><%= link_to '報酬の基本説明', :cache_a_customer_rule %></li></p>
      <p><li><%= link_to 'ネズミ講との違いは？', :mouse_customer_rule %></li></p>
    </ul>
  
  <h2><strong>退会するには？</strong></h2>
    <ul>
      <p><li>翌月のサイト利用料金をサイトの口座に入金しなければ自動的に退会扱いとなるので手続き等は一切不要です。</li></p>
      <p><li><%= link_to '退会方法はこちら', :unsubscribe_customer_rule %></li></p>
    </ul>
  
  <h2><strong>話がうますぎない？裏があるのでは？</strong></h2>
    <ul>
      <p><li>そのようなことはありません。実際に人に伝える仕事とは大変なものです。その仕事量に見合った妥当な報酬だと思っております。単純にサイトの拡散をしていただいた労力に対してのサイトからの報酬なので全くうまい話ではありませんしそんなに簡単に拡散するのかな？とも思っております。ご自身の努力次第だと思います。</li></p>
    </ul>
  
  <h2><strong>どんな人でも参加できるの？</strong></h2>
    <ul>
      <p><li>利用規約に準じた方であればどなたでも参加出来ます。有料サイトの利用と同じ感覚で参加出来ます。</li></p>
    </ul>
  
  <h2><strong>サイト利用料金とキャッシュバックの相殺はできないの？</strong></h2>
    <ul>
      <p><li>キャッシュバック金額が￥1,000+振込み事務手数料を超えた場合はサイト利用料金と振込み事務手数料を差し引いた残金をお振り込みさせていただきます。<strong>個人成績表ページで入金状況は確認できます。</strong></li></p>
      <p><strong>＊キャッシュバックは翌々月（2ヶ月後）の振り込みになるので翌月の利用手数料金はサイトに振り込みする必要があります。</strong></p>
    </ul>

</table>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップ画面へ戻る', :customer_root %>
  </div>
</div>