<% @title = 'キャッシュバックとは？' %>
<h1><%= @title %></h1>

<p>報酬システム（仕組み）の説明
  <ul>
  <p><%= link_to '詳しい説明はこちらから', :cache_description_visitor_rule %></p>
  </ul>
  <%= image_tag("cache1-1.png", size: "60*60", alt: "キャッシュバック", align: "top") %></p>
  <p>
  <%= image_tag("cache2-1.png", size: "60*60", alt: "キャッシュバック", align: "top") %>
  </p>

  <h2>ポイント確認と振り込み期日について</h2>
    <ul>
      <p><li>ポイントの集計はサイトのシステムで計算されサイト内の個人成績表ページで確認できますのでポイント（ｐｔ）を個人で集計する必要はありません。</li></p>
      <p><li>キャッシュバックをお振り込みさせていただく期日は翌々月/末（２ヶ月後の末）までにユーザー様の登録いただいた口座へお振り込みさせていただきます。</li></p>
      <p><li>お振り込み金額は振込事務手数料を差し引かせていただき、消費税込みの金額となります。</li></p>
      <p><li>お振り込み金額(pt)が振込手数料未満の場合はキャッシュバック対象外となります。</li></p>
      <p><li>キャッシュバック額が「￥1000＋振込事務手数料」を超えた場合は月々のサイトの利用料金を差し引いた金額を振り込みさせていただきますので翌月はサイト利用料金を振り込みしなくても自動的に更新いたします。<strong>サイト利用料金の入金状況についても個人成績表ページにて確認できます。</strong></li></p>
    </ul>
    
<div class="table-wrapper">
  <table class="attributes">
    <ul>
    <h2><p><strong>振込み事務手数料</strong></p></h2>
  </ul>
    <tr><th colspan= "2">振込み事務手数料</th></tr>
    <tr><th>3万円未満</th><td>700円</td></tr>
    <tr><th>3万円以上</th><td>1000円</td></tr> 
  </table>
  <ul>
    <h2><p>上記振込み事務手数料金についてはキャッシュバック額より差し引かせていただきます。</p></h2>
  </ul>
</div>

    <ul>
      <p><strong>注意</strong></p>
      <p>登録された口座名義が本人と一致しない場合はキャッシュバックの支払いは行いません。注意願います。（不正防止のため）</p>
      <p>繰り越しての翌月の支払いに加算もいたしません。</p>
    </ul>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'よくある質問へ移動', :question_visitor_rule %>
  </div>
  <div class="links">
    <%= link_to '新規登録画面へ戻る', :dashboard_visitor_rule %>
  </div>
</div>