<% @title = 'サイト概要' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '戻る', :visitor_root %>
  </div>
  <div class="links">
    <%= link_to '新規登録画面へ進む', :dashboard_visitor_rule %>
  </div>
</div>

<ol>
  <h2><li>サイト利用料金について</li></h2>
  <ul>
    <li>月額の利用料金は￥1,000（税込み）のみです。他に費用は発生いたしません。<br><strong>※初回登録時は翌月利用料金と併せて￥2,000となります。</strong></li>
  </ul>
  <h2><li>副業の機会提供</li></h2>
  <ul>
    <li>利用料金を支払い、会員になることにより自動的に副業を開始できます。</li>
    <li>業務内容は本サイトを知人などに拡散していただけくだけです。</li>
    <li>拡散実績に応じてキャッシュバックが毎月発生します。<br>ボーナスは3ヶ月に1回発生します。<br>特典ボーナスは1年間の実績に応じて翌年に発生します。<br>詳細は<%= link_to '会員登録ページ', :dashboard_visitor_rule %>より確認願います。</li>
    <li><strong>初回登録月に限りwelcomeポイント700ptをプレゼントします。（振込み事務手数料￥700円分）<br>従って登録月に限り拡散した会員登録が1人からキャッシュバックを受け取ることができます。<br>この700ptはボーナスポイントには加算されません。</strong></li>
  </ul>
  
  <h2><li>個人飲食店開業手順の提供</li></h2>
  <ul>
    <li>個人飲食店の開業を例題にし資金調達方法から開始手順を実際の手順に沿って運営方法と具体的な情報を提供します。</li>
  </ul>
  
  <h2><li>風俗営業開業手順の提供</li></h2>
  <ul>
    <li>スナックやキャバクラなどの開業を例題にし資金調達方法から開始手順を実際の手順に沿って運営方法と具体的な情報を提供します。</li>
  </ul>
  <h2><li>その他、生情報</li></h2>
  <ul>
    <li>日常生活ではまず情報が得られない貴重な情報等を都度提供していきます。</li>
    <li>お勧めのYouTube(英会話、ミュージシャン、YouTuber)などを紹介します。</li>
    <li>日替わりで自己啓発情報を提供します。</li>
  </ul>
  
  <h2><li>本サイトは「特定商取引法、電子契約法、無限連鎖講防止法」に基づき運営しております。</li></h2>
</ol>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '戻る', :visitor_root %>
  </div>
  <div class="links">
    <%= link_to '新規登録画面へ進む', :dashboard_visitor_rule %>
  </div>
</div>