<% @title = '特典ボーナスとは？' %>
<h1><%= @title %></h1>

<h2>タイトルは会員ページで確認できます。個人で計算する必要はありません。<br><strong>表中の旅行先は参考です。旅行時期、場所は送付した旅行券で各自手配してください。</strong><br>得点ボーナスはサイトからのプレゼントです。贈与税はかかりません。</h2>
<ul>
  <li>フェニックス（予算）：￥100,000 ×　2名分　＝　￥200,000の旅行券を送付します。</li>
  <li>クイーン　　（予算）：￥200,000 ×　2名分　＝　￥400,000の旅行券を送付します。</li>
  <li>キング　　　（予算）：￥350,000 ×　2名分　＝　￥700,000の旅行券を送付します。</li>
  <li>プレジデント（予算）：￥450,000 ×　2名分　＝　￥900,000の旅行券を送付します。</li>
</ul>
  <h3>特典ボーナスのシステムだけ理解してください。</h3>
 <p>特典ボーナスシステム(仕組み）の説明
   <ul>
    <p><%= link_to '詳しい説明はこちらから', :privilege_description_visitor_rule %></p>
  </ul>
    <%= image_tag("privilege1.png", size: "60*60", alt: "特典ボーナス", align: "top") %></p>
    <p>
    <%= image_tag("privilege2.png", size: "60*60", alt: "特典ボーナス", align: "top") %></p>

  <h2>特典ボーナス（仕組み）の説明</h2>
    <P>現在の特典ボーナスタイトルは個人成績表ページで確認できます。</P>
    <p>資格獲得パーティーの期日・会場については<strong>サイトイベント一覧</strong>ページで確認できます。</p>
    <p>資格獲得パーティーは前年度の獲得タイトルの表彰式となります。</p>
    <p>特典ボーナスタイトルの獲得条件は年をまたいでの回数はカウントされません。翌年の2月末で前年の獲得回数はリセットされます。</p>
    <p>旅行券の送付はタイトル獲得の翌年1月末までに行い、ユーザー様ご自身で手配をしていただくことになります。</p>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'キャッシュバック説明へ移動', :cache_visitor_rule %>
  </div>
  
  <div class="links">
    <%= link_to 'ボーナスへ移動', :bonus_visitor_rule %>
  </div>
  
  <div class="links">
    <%= link_to 'よくある質問へ移動', :question_visitor_rule %>
  </div>
  
  <div class="links">
    <%= link_to '新規登録画面へ戻る', :dashboard_visitor_rule %>
  </div>
</div>