<% @title = '年月・クオータ別　ボーナス振込チェック' %>
<h1><%= @title %></h1>

<% if @quarter1 == 4 %>
  <div id="generic-form">
    <%= form_for @twentie_form, as: 'form', url: :admin_bonus_twenty do |f| %>
      <%= render 'bonus_form', f: f %>
      <div class="buttons">
        <%= f.submit '更新', class: "btn btn-default", data: {disable_with: '更新中・・・' } %>
        <%= link_to 'キャンセル', :payment_list_admin_record %>
      </div>
    <% end %>
  </div>

<% else %>
  <div id="generic-form">
    <%= form_for @one_form, as: 'form', url: :admin_bonus_one do |f| %>
      <%= render 'bonus_form', f: f %>
      <div class="buttons">
        <%= f.submit '更新', class: "btn btn-default", data: {disable_with: '更新中・・・' } %>
        <%= link_to 'キャンセル', :payment_list_admin_record %>
      </div>
    <% end %>
  </div>
<% end %>