<% @title = '会員再登録について' %>
<h1><%= @title %></h1>

<%= @o + @p %> さま
<hr />
<p>この度は、本サイトへ再登録の申し込みをしていただきありがとうございます。<br><%= @o + @p %>さまにおかれましては、前回退会後、3ヶ月を経過しておりませんので<br>現在は再登録ができない状態になっております。再登録可能月は<%= @month_4 %>月となっておりますので<br><%= @month_4 %>月になりましたら再度、新規会員登録をしていただくようお願いします。<br>今後ともWONDER GATEをよろしくお願い申し上げます。</p>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '新規登録画面へ戻る', :dashboard_visitor_rule %>
  </div>
</div>