<% @title = '会員再登録について' %>
<h1><%= @title %></h1>

<%= @o + @p %> さま
<hr />
<p><%= @o + @p %> さま は<%= @month %>月現在、会員登録されております。<br>引き続きWONDER GATEを宜しくお願いします。</p>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '新規登録画面へ戻る', :dashboard_visitor_rule %>
  </div>
</div>