<% @title = '会員再登録について' %>
<h1><%= @title %></h1>

<%= @o + @p %> さま
<hr />
<p>この度は、本サイトへ再登録の申し込みをしていただきありがとうございます。<br><%= @o + @p %> さまは、すでに本サイトへ登録済みとなっております。<br><%= @o + @p %>さまにおかれましては、新規会員登録後、現在まで初回登録の利用料金（￥2,000）の入金の確認がとれておりません。初回登録から1年間は初回利用料金(￥2,000）をお振り込みいただければ、個人情報を再入力していただかなくても登録できますので、お早めにお振り込みしていただくようお願いします。</p>紹介者ニックネームを
変更したい場合はサイトまでメールにて連絡ください。

<p><li>サイトの利用料金は<%= link_to '利用料金振り込み用口座', :account_visitor_rule %>まで入金してください。</li></p>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '新規登録画面へ戻る', :dashboard_visitor_rule %>
  </div>
</div>