<% @title = 'バックナンバー動画' %>
<h1><strong><%= @title %></strong></h1>
<div class="main">
  
  <%= link_to '検索月の動画', :retrieval_month_customer_video %>
  
  <h2><strong></strong></h2>
  
  <%= link_to '検索週の動画', :retrieval_week_customer_video %>
  
  <h2><strong></strong></h2>
  
  <%= link_to '検索月日の動画', :retrieval_day_customer_video %>
  
</div>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '戻る', :privilege_info_customer_record %>
  </div>
</div> 