<% @title = '特典ボーナス獲得 --- 招待イベント映像（イメージ）' %>
<h1><strong><%= @title %></strong></h1>

<div class="main">
  <P>映像はイメージ映像となります。旅行にサイト運営側の者が同行することはございません。</P>
  <h2><strong></strong></h2>

  <%= link_to(image_tag("g4632.png", size: "60*60", alt: "資格獲得パーティー映像", align: "top" ), :party_video_customer_video) %>
  
  <h2><strong></strong></h2>

  <%= link_to(image_tag("g4669.png", size: "60*60", alt: "フェニックス獲得旅行映像", align: "top" ), :phoenix_video_customer_video) %>

  <h2><strong></strong></h2>
  
  <%= link_to(image_tag("g4706.png", size: "60*60", alt: "クイーン獲得旅行映像", align: "top" ), :queen_video_customer_video) %>
  
  <h2><strong></strong></h2>

  <%= link_to(image_tag("g4781.png", size: "60*60", alt: "キング獲得招待映像", align: "top" ), :king_video_customer_video) %>
  
  <h2><strong></strong></h2>
  
  <%= link_to(image_tag("g4818.png", size: "60*60", alt: "プレジデント獲得旅行映像", align: "top" ), :president_video_customer_video) %>
  
  <h2><strong></strong></h2>
    
  <div class="table-wrapper">
    <div class="links">
      <%= link_to '会員特典情報画面へ戻る', :privilege_info_customer_record %>
    </div>
  </div>   
</div>