<% @title = 'Free Video' %>
<h1><strong><%= @title %></strong></h1>
<div class="main">
  
  <%= link_to(image_tag("day.png", size: "60*60", alt: "今日の動画", align: "top" ), :video_play_customer_video) %>
  
  <h2><strong></strong></h2>

  <%= link_to(image_tag("week.png", size: "60*60", alt: "今週の動画", align: "top" ), :video_week_customer_video) %>
  
  <h2><strong></strong></h2>
  
  <%= link_to(image_tag("month.png", size: "60*60", alt: "今月の動画", align: "top" ), :video_month_customer_video) %>
  
  <h2><strong></strong></h2>
  
  <%= link_to(image_tag("back_number.png", size: "60*60", alt: "バックナンバー検索", align: "top" ), :edit_customer_number) %>
</div>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '戻る', :privilege_info_customer_record %>
  </div>
</div> 