<% @title = '口座アカウントの編集' %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_for @bank_form, as: 'form', url: [ :admin, @bank_form.bank ] do |f| %>
    <%= render 'form', f: f %>
    <div class="buttons">
      <%= f.submit '更新', class: "btn btn-default", data: {disable_with: '更新中・・・' } %>
      <%= link_to 'キャンセル', :admin_customers %>
    </div>
  <% end %>
</div>
   