<% @title = 'アカウントの更新（確認）' %>
<h1><%= @title %></h1>

<div id="generic-form" class="confirming">
  <%= form_for @customer_form, as: 'form', url: :customer_account do |f| %>
    <p>以下の内容でアカウントを更新します。よろしいですか？</p>
    <%= render 'confirming_form', f: f %>
    <div class="buttons">
      <%= f.submit 'この内容で更新' %>
      <%= f.submit '前ページへ戻る', name: 'correct' %>
    </div>
  <% end %>
</div>
