<% @title = '居酒屋・飲食店の開業手順' %>
<h1><strong><%= @title %></strong></h1>

<ul class="hint">
  <h2><strong>※これは経験に基づいた開業までの手順となります。※</strong></h2>
  <ul>
    <h3>手続きは各都道府県で多少の違いはあると思いますがこれから紹介する
    手順で開業まで持って行けます。</h3>
  </ul>
  <ol>
    <h2><li><%= link_to '開業までのスケジュール', :plan_customer_tavern %></li></h2>
    <h2><li><%= link_to '資金調達方法', :fund_customer_tavern %></li></h2>
    <h2><li><%= link_to 'コンセプト設計', :concept_customer_tavern %></li></h2>
    <h2><li><%= link_to '事業計画書作成', :business_plan_customer_tavern %></li></h2>
    <h2><li><%= link_to '創業計画書作成', :founded_plan_customer_tavern %></li></h2>
    <h2><li><%= link_to '競合店の調査', :conflict_customer_tavern %></li></h2>
    <h2><li><%= link_to '立地・物件調査', :article_customer_tavern %></li></h2>
    <h2><li><%= link_to '内装・外装の設計･見積もり', :interior_customer_tavern %></li></h2>
    <h2><li><%= link_to '各仕入れ先の選定', :stocking_customer_tavern %></li></h2>
    <h2><li><%= link_to '人材の採用・面接', :human_customer_tavern %></li></h2>
    <h2><li><%= link_to '必要な届け出', :report_customer_tavern %></li></h2>
    <h2><li><%= link_to 'レセプション～開店まで', :reception_customer_tavern %></li></h2>
  </ol>
  
  <h2><strong>※ここからは知っておきたいポイントです。※</strong></h2>
  
  <ol>
    <h2><li><%= link_to '運転資金について', :working_capital_customer_tavern %></li></h2>
    <h2><li><%= link_to '飲食店開業の必要資格', :open_customer_tavern %></li></h2>
    <h2><li><%= link_to '設備について', :facility_customer_tavern %></li></h2>
    <h2><li><%= link_to '都道府県助成金制度', :subsidy_customer_tavern %></li></h2>
    <h2><li><%= link_to '従業員の採用について', :adopu_customer_tavern %></li></h2>
    <h2><li><%= link_to '税金について', :tax_customer_tavern %></li></h2>
    <h2><li><%= link_to '業者の選定について', :trader_customer_tavern %></li></h2>
    <h2><li><%= link_to '損益分岐点の把握', :profit_customer_tavern %></li></h2>
    <h2><li><%= link_to '陥りやすいポイント', :caution_customer_tavern %></li></h2>
  </ol>
</ul>

<ul>
  <h3>やることが多いように感じますが思ったより簡単です。ここまでくればあとは経営センスで勝負です。</h3>
</ul>

<div class="table-wrapper">  
  <div class="links">
    <%= link_to '会員特典情報ページへ', :privilege_info_customer_record %>
  </div>
</div>