<%= @user.family_name + @user.given_name %>さま
<hr />
<p>いつもサイトをご利用いただきありがとうございます。</p>
<p><%= @user.family_name + @user.given_name %>さまの<%= @quarter %>クオーターのボーナスが発生しましたので<br>振込事務手数料（￥700）を差し引いた金額を<%= @month %> 月末までに振込みさせていただきます。</p>

<P>詳しくはサイトへログインしていただき個人成績表の利用料金確認ページで<br>
  確認していただくようお願いいたします。</P>

<p>ボーナス額については会員ページで確認してください。</p>

<p>今後もサービスを充実させていきますので末永くご利用のほどお願いします。</p>

<P>サイトをご利用いただくには<%= link_to 'こちら', 'https://wonder-gate.com/visitor/rule/welcome' %>からログインを行ってください。</P>