<% @title =  '年特典ボーナス※ペガサス※獲得者名簿' %>
<h1><%= @year %><%= @title %></h1>

<% if @customer_pegasus.present? %>
  <div class="table-wrapper">
    <%= paginate @customer_pegasus %>
    <table class="listing">
      <tr>
        <th>ID</th>
        <th>氏名</th>
        <th>フリガナ</th>
        <th>ニックネーム</th>
      </tr>
    <% @customer_pegasus.each do |c| %>
      <% p = CustomerPresenter.new(c, self) %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.full_name %></td>
        <td><%= p.full_name_kana %></td>
        <td><%= p.nickname %></td>
      </tr>
    <% end %>
    </table>
    <%= paginate @customer_pegasus %>
  </div>
<% else %>
  <h2><%= @year %> 年度のペガサス獲得者はおりません。</h2>
<% end %>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップ画面へ戻る', :staff_root %>
  </div>
</div>