<% @title = '年度、クオーター別ボーナス獲得者一覧' %>
<h1><%= @title %></h1>

<% if @bonus_member.present? %>
  <div class="table-wrapper">   
    <table class="attributes">
      <tr><th colspan="3"><strong><%= @year %>年　<%= @quarter %>　クオーター　</strong></th></tr>
    </table>
    <%= paginate @bonus_member %>
    <table class="listing">
      <tr>
        <th>送金</th>
        <th>送金日</th>
        <th>ID</th>
        <th>氏名</th>
        <th>フリガナ</th>
        <th>ニックネーム</th>
        <th>キャッシュバック額</th>
      </tr>
      <% @bonus_member.each do |c| %>
      <% e = c.customer_id %>
        <% p = Customer.find_by(id: e) %>
        <% if @year == "2018" %>
          <% bonus_record = Eighteen.find_by(customer_id: e) %>
          <% data = bonus_record.attributes %>
          <% bonus = data["c_#{@quarter}"] %>
          <% transfer = data["transfer_c_#{@quarter}"] %>
        <% elsif @year == "2019" %>
          <% bonus_record = Nineteen.find_by(customer_id: e) %>
          <% data = bonus_record.attributes %>
          <% bonus = data["c_#{@quarter}"] %>
          <% transfer = data["transfer_c_#{@quarter}"] %>
        <% elsif @year == "2020" %>
          <% bonus_record = Twentie.find_by(customer_id: e) %>
          <% data = bonus_record.attributes %>
          <% bonus = data["c_#{@quarter}"] %>
          <% transfer = data["transfer_c_#{@quarter}"] %>
        <% elsif @year == "2021" %>
          <% bonus_record = One.find_by(customer_id: e) %>
          <% data = bonus_record.attributes %>
          <% bonus = data["c_#{@quarter}"] %>
          <% transfer = data["transfer_c_#{@quarter}"] %>
        <% elsif @year == "2022" %>
          <% bonus_record = TwentyTWO.find_by(customer_id: e) %>
          <% data = bonus_record.attributes %>
          <% bonus = data["c_#{@quarter}"] %>
          <% transfer = data["transfer_c_#{@quarter}"] %>
        <% elsif @year == "2023" %>
          <% bonus_record = TwentyThree.find_by(customer_id: e) %>
          <% data = bonus_record.attributes %>
          <% bonus = data["c_#{@quarter}"] %>
          <% transfer = data["transfer_c_#{@quarter}"] %>
        <% elsif @year == "2024" %>
          <% bonus_record = TwentyFour.find_by(customer_id: e) %>
          <% data = bonus_record.attributes %>
          <% bonus = data["c_#{@quarter}"] %>
          <% transfer = data["transfer_c_#{@quarter}"] %>
        <% elsif @year == "2025" %>
          <% bonus_record = TwentyFive.find_by(customer_id: e) %>
          <% data = bonus_record.attributes %>
          <% bonus = data["c_#{@quarter}"] %>
          <% transfer = data["transfer_c_#{@quarter}"] %>
        <% elsif @year == "2026" %>
          <% bonus_record = TwentySix.find_by(customer_id: e) %>
          <% data = bonus_record.attributes %>
          <% bonus = data["c_#{@month}"] %>
          <% transfer = data["transfer_c_#{@quarter}"] %>
        <% else %>
          <% if @year == "2027" %>
            <% bonus_record = TwentySeven.find_by(customer_id: e) %>
            <% data = bonus_record.attributes %>
            <% bonus = data["c_#{@quarter}"] %>
            <% transfer = data["transfer_c_#{@quarter}"] %>
          <% end %>
        <% end %>
      
        <tr>
          <td><%= transfer %></td>
          
          <% if @quarter == "1" %>
            <td><%= bonus_record.bonus_payment_1 %></td>
          <% elsif @quarter == "2" %>
            <td><%= bonus_record.banus_payment_2 %></td>
          <% elsif @quarter == "3" %>
            <td><%= bonus_record.bonus_payment_3 %></td>
          <% else %>
            <td><%= bonus_record.bonus_payment_4 %></td>
          <% end %>
          <td><%= bonus_record.customer_id %></td>
          <td><%= p.family_name + p.given_name %></td>
          <td><%= p.family_name_kana + p.given_name_kana %></td>
          <td><%= p.nickname %></td>
          <td>￥<%= number_with_delimiter(bonus) %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @bonus_member %>
  </div>
<% else %>
  <h2><%= @year %> 年　<%= @quarter %> クオーターのボーナス獲得者はおりません。</h2>
<% end %>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '検索ページへ', :edit_staff_staff_quarter %>
  </div>
  <div class="links">
    <%= link_to 'トップ画面へ戻る', :staff_root %>
  </div>
</div>