<% @title = '現在のクオーターのボーナス獲得者一覧' %>
<h1><%= @title %></h1>
 
<% if @year_now >= @year %>
  <% if @bonus_member.present? %>
    <div class="table-wrapper">
      <strong><h2>現在は<%= @year_now %>年　第<%= @quarter_now %>クオーターです。</h2></strong>
      <p><%= link_to '月別キャッシュバック獲得者一覧', :cache_acquisition_admin_record %><br>

      <%= link_to '特別会員ボーナス獲得者一覧', :sp_member_admin_record %><br>

      <%= link_to '現在のクオーターのボーナス獲得者一覧　（途中経過の表示のみ）', :bonus_confirm_admin_record %></p></p>

      <p>送金済　→　未送金への変更は会員管理ページより編集機能で「ボーナスlock」を0にすることで変更可能です。</p>

      <% if @year_now == @year %>
        <% if @quarter_now == @quarter %>
          <table class="attributes">
            <tr><th colspan="3"><strong><%= @year %>年　第<%= @quarter3 %>クオーター　</strong>支払い総額(<%= @month_now %> 月現在)　￥<%= number_with_delimiter(@total_bonus_pay) %></th></tr>
            <h2>第<%= @quarter3 %>クオーター 終了時点で金額が正式決定します。途中経過です。</h2>
          </table>
        <% elsif @quarter_now < @quarter3 %>
          <h2><%= @quarter3 %>クオーター　は次クオーター以降のボーナスです。</h2>
        <% else %>
          <table class="attributes">
            <tr><th colspan="3"><strong><%= @year %>年　第<%= @quarter3 %>クオーター　</strong>支払い総額　￥<%= number_with_delimiter(@total_bonus_pay) %></th></tr>
          </table>
        <% end %>
      <% else %>
        <table class="attributes">
          <tr><th colspan="3"><strong><%= @year %>年　第<%= @quarter3 %>クオーター　</strong>支払い総額 ￥<%= number_with_delimiter(@total_bonus_pay) %></th></tr>
        </table>  
      <% end %>
    </div>
    <% if @year_now == @year %>
      <% if @quarter_now < @quarter3 %>
      <% else %>
        <div class="table-wrapper">
          <%= paginate @bonus_member %>
        
          <%= render 'bonus_display' %>
        
          <%= paginate @bonus_member %>
        </div>
      <% end %>
    <% else %>
      <div class="table-wrapper">
        <%= paginate @bonus_member %>
        
        <%= render 'bonus_display' %>
        
        <%= paginate @bonus_member %>
      </div>
    <% end %>
  <% else %>
    <div class="table-wrapper">
      <strong><h2>現在は<%= @year %>年　第<%= @quarter3 %>クオーターです。</h2></strong>
      <p><%= link_to '月別キャッシュバック獲得者一覧', :cache_acquisition_admin_record %><br>

      <%= link_to '特別会員ボーナス獲得者一覧', :sp_member_admin_record %><br>

      <%= link_to '現在のクオーターのボーナス獲得者一覧　（途中経過の表示のみ）', :bonus_confirm_admin_record %></p>
      <h2><%= @year %>年　第<%= @quarter3 %>クオーター現在のボーナス獲得者はおりません。</h2>
    </div>
  <% end %>
<% else %>
  <div class="table-wrapper">
    <strong><h2>現在は<%= @year %>年　第<%= @quarter3 %>クオーターです。</h2></strong>
    <p><%= link_to '月別キャッシュバック獲得者一覧', :cache_acquisition_admin_record %><br>

    <%= link_to '特別会員ボーナス獲得者一覧', :sp_member_admin_record %><br>

    <%= link_to '現在のクオーターのボーナス獲得者一覧　（途中経過の表示のみ）', :bonus_confirm_admin_record %></p>
    <h2><%= @year %>年　は来年以降のボーナスです。</h2>
  </div>
<% end %>
<div class="table-wrapper">
  <div class="links">
    <%= link_to '会員管理ページへ', :edit_admin_year %>
  </div>
  <div class="links">
    <%= link_to '前ページへ戻る', :acquisition_member_admin_record %>
  </div>
  <div class="links">
    <%= link_to '検索ページへ', :edit_admin_pay %>
  </div>
  <div class="links">
    <%= link_to 'トップ画面へ戻る', :admin_root %>
  </div>
</div>
